@import 'icon';

* {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
}

#content {
  height: 100%;
  min-width: 800px;
  min-height: 600px;
  font-size: 3em;
  font-family: sans-serif;
  text-align: center;
}

// TODO 要改良
@mixin popover($class: 'popover') {
  position: relative;

  .#{$class} {
    opacity: 0;
    transition: opacity .2s linear;
    position: absolute;
    @content;
  }

  &:hover {
    .#{$class} {
      opacity: 1;
    }
  }
}

@mixin icon-button {
  a {
    opacity: .5;
    transition: opacity .2s linear;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    .popover {
      display: none;
    }
  }
}

@mixin page {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  color: #fff;

  a {
    color: #fff;
  }

  .nav {
    @include icon-button;
    position: absolute;
    top: .2em;
    right: .5em;
  }

  .pageContent {
    padding: 1em 1.5em 1.5em;
    text-align: left;

    h2 {
      margin-bottom: .5em;
    }

    h3 {
      margin-top: 1em;
      font-size: .8em;
    }

    p {
      font-size: .7em;
      margin-top: 1em;
    }

    code {
      display: block;
      background-color: #fff;
      color: #333;
      padding: .5em;
      font-size: 2rem;
    }
  }
}

@mixin nav-link($icon) {
  @include icon($icon) {
    margin-left: .3em;
  }
}
.main    { @include nav-link('hour-glass'); }
.setting { @include nav-link('cog');        }
.usage   { @include nav-link('question');   }
.info    { @include nav-link('info');       }

@mixin controller {
  a {
    cursor: pointer;
  }
}

@mixin topic-button($icon) {
  @include icon($icon);
  margin: 0 .1em;
}
.play  { @include topic-button('play');  }
.pause { @include topic-button('pause'); }
.stop  { @include topic-button('stop');  }
.prev  { @include topic-button('prev');  }
.next  { @include topic-button('next');  }

#main {
  @include page;

  height: 100%;
  background-color: #fff;
  display: table;
  color: #333;

  a {
    color: #333;
  }

  &.over {
    background-color: #333;
    color: #999;

    .remainTime {
      color: #f33;
      //font-size: 16em;
    }

    a {
      color: #fff;
    }
  }

  .remainTime {
    font-size: 10em;
    font-family: monospace;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 100%;
  }

  .topicInfo {
    position: absolute;
    top: .2em;
    left: .5em;
    text-align: left;
    color: #999;

    .description {
      @include icon('bubbles') {
        margin-right: .3em;
      }
      color: #00f;
      font-size: 2em;
    }

    .entireTime {
      @include icon('hour-glass') {
        margin-right: .3em;
      }
    }
  }

  .controller {
    @include controller;
    @include icon-button;
    position: absolute;
    bottom: .2em;
    left: .5em;
  }

  .total {
    color: #999;
    position: absolute;
    bottom: .2em;
    left: 0;
    right: 0;
    text-align: center;

    .over {
      color: #f33;
    }
  }

  .bell {
    @include icon-button;
    position: absolute;
    bottom: .2em;
    right: .4em;
    text-align: center;
    width: 1.2em;

    .on  { @include icon('bell'); }
    .off { @include icon('bell-slash'); }
  }

  .memo {
    position: absolute;
    bottom: 3.2em;
    left: 0;
    right: 0;
    width: 20em;
    height: 1.5em;
    padding: 0em;
    color: #333;
    font-size: 1em;
    text-align: center;

    textarea {
      width: 20em;
      height: 1.5em;
      padding: 0em;
      border: 0;
      resize: none;
      overflow: hidden;
      color: #333;
      font-size: 1.2em;
      text-align: center;
    }

    .empty {
      width: 20em;
      height: 1.5em;
      padding: 0em;
      border: 0;
      color: #ccc;
      font-size: 1em;
      text-align: center;
      cursor: pointer;
      background-color: rgba(192,192,192,0);
      transition: background-color 0.2s linear;

      &:hover {
        background-color: rgba(192,192,192,0.2);
      }
    }

    .over {
      color: #f33;
    }
  }

  .tooltip_above {
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .tooltip_above span {
    margin:0;
    padding:0;
  }

  .tooltip_above_description {
    display: none;
    position: absolute;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    white-space: nowrap;
    color: #fff;
    background: #999;
  }

  .tooltip_above_description:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border: 20px solid transparent;
    border-top: 20px solid #999;
    margin-left: -20px;
  }

  .tooltip_above:hover .tooltip_above_description {
    display: inline-block;
    top: -80px;
    left: 0px;
  }

  .tooltip_left {
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .tooltip_left span {
    margin:0;
    padding:0;
  }

  .tooltip_left_description {
    display: none;
    position: absolute;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    white-space: nowrap;
    color: #fff;
    background: #999;
  }

  .tooltip_left_description:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 135px;
    border: 10px solid transparent;
    border-top: 20px solid #999;
    margin-left: -20px;
    transform: rotateZ(270deg);
  }

  .tooltip_left:hover .tooltip_left_description {
    display: inline-block;
    top: 50%;
    left: -150px;
  }

  .tooltip_under {
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .tooltip_under span {
    margin:0;
    padding:0;
  }

  .tooltip_under_description {
    display: none;
    position: absolute;
    padding: 15px;
    font-size: 20px;
    border-radius: 15px;
    white-space: nowrap;
    color: #fff;
    background: #999;
  }

  .tooltip_under_description:before {
    content: "";
    position: absolute;
    top: -40px;
    right: 40px;
    border: 20px solid transparent;
    border-top: 20px solid #999;
    margin-left: -20px;
    transform: rotateZ(180deg);
  }

  .tooltip_under:hover .tooltip_under_description {
    display: inline-block;
    top: 80px;
    left: 0px;
  }
}

#setting {
  @include page;

  background-color: #39f;

  h2 {
    @include icon('cog') {
      margin-right: .3em;
    }
  }

  textarea {
    width: 100%;
    height: 12em;
    padding: .5em;
    font-size: 2rem;
    color: #333;
    border: 0;
  }

  .empty {
    text-align: center;
    padding: .5em;
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    transition: background-color .2s linear;

    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
  }

  .topic {
    @include controller;

    .over {
      color: #f33;
    }

    .header {
      font-size: 0.5em;
      text-align: center;
    }

    .time {
      cursor: pointer;
      font-family: monospace;
      padding: 0 .5em;
    }

    .description {
      cursor: pointer;
      text-align: left;
    }
  }
}

#usage {
  @include page;
  background-color: #3f9;

  h2 {
    @include icon('question') {
      margin-right: .3em;
    }
  }

  .bellOn {
    @include icon('bell');
  }

  .notes {
    font-size: 0.8em;
    position: absolute;
    right: .4em;
  }
}

#info {
  @include page;
  background-color: #f39;

  h2 {
    @include icon('info') {
      margin-right: .3em;
    }
  }

  .pageContent a {
    text-decoration: underline;
  }
}
